### Jekyll template
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

.editorconfig
.gitattributes
.github
/docs
/test
CHANGELOG.md
minimal-mistakes-jekyll.gemspec
README.md
screenshot-layouts.png
screenshot.png

.idea/
/_site/feed.xml
/_site/sitemap.xml

Gemfile\.lock

test/
